@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/global";

.player {
    margin: 1rem;
    @include tablet {
        position: relative;
        margin: 1rem 0;
        &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2rem;
        background-color: $brainflix-darkblack;
    }
        &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
    }

    &__video-container {
        width: 100%;
        height: auto;
        background-color: $brainflix-darkblack;
        margin: 0;
        padding: 0;
        @include tablet {
            z-index: 1;
    }
    }
    &__video {
        width: 100%;
        display: flex;
        max-height: 60vw;
        @include tablet {
            position: relative;
            display: flex;
            width: 85%;
            z-index: 1;
            justify-content: center;
            margin: 0 auto; 
            max-height: 22.756rem;    
        }
        @include desktop {
            width: 70%;
            margin: 0 auto;
            max-height: 31.25rem;
    }
    }

    &__controls {
        display: flex;
        width: 90%;
        margin: 0 auto;
        margin-top: -2.2rem;
        @include tablet {
            margin-top: -3.4rem;
            position: relative;
            z-index: 2;
            width: 78%;
        }
        @include desktop {
            width: 65%;
        }
    }

    &__play {
        position: relative;
        background-color: $brainflix-black;
        border: none;
        opacity: .9;
        width: 2.5rem;
        height: 1.5rem;
        margin-right: 0.625rem;
        border-radius: 0.313rem;
        padding-block: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        @include tablet {
            height: 2.6rem;
            width: 3.7rem;
        }

        &__play-icon {
            max-width: 100%; 
            max-height: 100%; 
            object-fit: contain; 
        }
    }

    &__progress-bar {
        position: relative;
        background-color: $brainflix-black;
        border: none;
        opacity: .9;
        width: 100%;
        height: 1.5rem;
        margin-right: 0.625rem;
        border-radius: 0.313rem;
        display: flex;
        align-items: center;
        @include tablet {
            height: 2.6rem;
        }
    }

    &__progress-scale {
        -webkit-appearance: none;
        appearance: none;
        width: 90%;
        height: 0.365rem;
        padding: 0.15rem 0.6rem 0.1rem 0.6rem;
        vertical-align: -0.09rem;
        @include tablet {
            vertical-align: -0.5rem;
            padding: 0.12rem 0.9rem 0.05rem 0.9rem;
        }

        &::-webkit-progress-bar {
            background-color: $brainflix-darkblack;
            border-radius: 0.6rem;
        }
    }

    &__progress-time {
        display: inline;
        color: $white;
        font-size: 0.45rem;
        white-space: nowrap;
        padding-right: 0.5rem;
        @include tablet {
            font-size: 0.7rem;
            display: inline;
            padding-right: 0.8rem;
        }
    }

    &__right-controls {
        display: flex;
        justify-content: center;
        position: relative;
        background-color: $brainflix-black;
        border: none;
        opacity: .9;
        width: 5rem;
        height: 1.5rem;
        border-radius: 0.313rem;
        @include tablet {
            height: 2.6rem;
            padding: 0 0.6rem;
        }
    }

    &__fullscreen {
        border: none;
        background-color: $brainflix-black;
        border-top-left-radius: 0.313rem;
        border-bottom-left-radius: 0.313rem;
        padding-block: 0.01rem;
    }

    &__volume {
        border: none;
        background-color: $brainflix-black;
        border-top-right-radius: 0.313rem;
        border-bottom-right-radius: 0.313rem;
        padding-block: 0.01rem;
        @include tablet {
            height: 2.6rem;;
        }
    }
}