@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.App {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}

.video-content {
  margin: 1.25rem 1rem;
}
@media (min-width: 48rem) {
  .video-content {
    margin: 1rem 3rem;
  }
}
@media (min-width: 80rem) {
  .video-content {
    margin-right: 0;
    width: 58%;
    float: left;
    margin-left: 6rem;
    position: relative;
  }
}
@media (min-width: 80rem) {
  .video-content:after {
    content: "";
    position: absolute;
    right: 0rem;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #E1E1E1;
  }
}
.video-content__heading {
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2.5rem;
  margin-bottom: 0;
  color: #323232;
}
@media (min-width: 48rem) {
  .video-content__heading {
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
    line-height: 2.9rem;
    clear: both;
  }
}
.video-content__title {
  margin-bottom: 0;
}
.video-content__channel-icons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.video-content__channel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  margin-bottom: 5px;
  flex-basis: 50%;
}
@media (min-width: 48rem) {
  .video-content__channel {
    flex-direction: row;
  }
}
.video-content__channel-author {
  font-weight: 500;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 18px;
  margin: 0.8rem 0;
}
@media (min-width: 48rem) {
  .video-content__channel-author {
    padding-right: 2rem;
  }
}
.video-content__channel-date {
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #AFAFAF;
  margin: 0;
  align-self: flex-start;
}
.video-content__icons {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
  flex-direction: column;
  align-content: flex-end;
}
@media (min-width: 48rem) {
  .video-content__icons {
    flex-direction: row;
  }
}
@media (min-width: 80rem) {
  .video-content__icons {
    margin-right: 1rem;
  }
}
.video-content__icons img {
  width: 1.7rem;
  height: 1.7rem;
}
.video-content__icons span {
  position: relative;
  top: -0.5rem;
  margin: 0 0.5rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #AFAFAF;
}
.video-content__divider-title {
  border: 0.031rem solid #E1E1E1;
}
@media (min-width: 48rem) {
  .video-content__divider-title {
    visibility: hidden;
    margin: 0.5rem;
  }
}
.video-content__divider-description {
  border: 0.031rem solid #E1E1E1;
}
@media (min-width: 48rem) {
  .video-content__divider-description {
    margin-top: 0;
  }
}
.video-content__description {
  font-weight: 400;
  font-style: normal;
  font-size: 0.85rem;
  color: #323232;
  line-height: 1.3rem;
}
@media (min-width: 48rem) {
  .video-content__description {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 2rem 0 3rem 0;
  }
}
@media (min-width: 80rem) {
  .video-content__description {
    margin-right: 1rem;
  }
}
.video-content__comment-count {
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}
@media (min-width: 48rem) {
  .video-content__comment-count {
    font-size: 1.3rem;
  }
}
@media (min-width: 80rem) {
  .video-content__comment-count {
    margin-right: 1rem;
  }
}
@media (min-width: 48rem) {
  .video-content__comment-input-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
.video-content__comment-add {
  margin-bottom: 0;
}
@media (min-width: 80rem) {
  .video-content__comment-add {
    margin-right: 1rem;
  }
}
.video-content__comment-container {
  display: flex;
  margin-top: 0;
}
.video-content__comment-input-heading {
  font-weight: 500;
  font-style: normal;
  color: #AFAFAF;
  font-size: 0.9rem;
}
.video-content__comment-avatar {
  display: inline;
  margin: 0 1.25rem 0 0;
}
.video-content__comment-avatar img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center left;
     object-position: center left;
}
@media (min-width: 48rem) {
  .video-content__comment-avatar img {
    width: 3.35rem;
    height: 3.35rem;
    margin-top: 1.9rem;
  }
}
.video-content__comment-input {
  margin: 0;
  width: 100%;
  align-items: center;
}
@media (min-width: 48rem) {
  .video-content__comment-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
  }
}
.video-content__comment-submit-button {
  font-weight: 500;
  font-style: normal;
  background: url(../../assets/icons/add_comment.svg) no-repeat 0.5rem 0.7rem;
  background-color: #0095FF;
  border: none;
  border-radius: 0.313rem;
  color: #FFFFFF;
  height: 3rem;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  margin: 0;
}
.video-content__comment-submit-button:hover {
  background-color: #0065AD;
}
@media (min-width: 48rem) {
  .video-content__comment-submit-button {
    margin-top: 1.4rem;
    padding-top: 0.4rem;
    width: 13rem;
  }
}
.video-content__comment textarea {
  font-weight: 400;
  font-style: normal;
  background-color: #FAFAFA;
  border: 0.009rem solid #E1E1E1;
  border-radius: 0.313rem;
  width: 100%;
  line-height: 1rem;
  padding: 0.5rem 0.625rem;
  margin: 0.625rem 0;
  box-sizing: border-box;
  color: #323232;
}
.video-content__comment textarea::-moz-placeholder {
  color: #0065AD;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}
.video-content__comment textarea::placeholder {
  color: #0065AD;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}
@media (min-width: 48rem) {
  .video-content__comment textarea {
    height: 3rem;
    font-size: 1rem;
    padding-top: 0.7rem;
    flex-grow: 1;
  }
}
.video-content__comment-container {
  width: 100%;
}
.video-content__comments {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.video-content__comments-card {
  display: flex;
  border-bottom: 2px solid #E1E1E1;
}
.video-content__comments-card:first-of-type {
  border-top: 2px solid #E1E1E1;
}
.video-content__comments-card:last-child {
  border-bottom: none;
}
.video-content__comments-avatar {
  margin-top: 0.75rem;
  margin-right: 1.25rem;
  flex-shrink: 0;
}
.video-content__comments-avatar img {
  border-radius: 50%;
  width: 3rem;
  max-width: 3rem;
  height: 3rem;
  max-height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center left;
     object-position: center left;
  background-color: #E1E1E1;
  flex-shrink: 0;
}
@media (min-width: 48rem) {
  .video-content__comments-avatar img {
    width: 3.35rem;
    max-width: 3.35rem;
    height: 3.35rem;
    max-height: 3.35rem;
  }
}
.video-content__comments-container p {
  display: inline-block;
}
.video-content__comments-heading {
  font-weight: 400;
  font-style: normal;
  color: #323232;
  display: flex;
  justify-content: space-between;
}
.video-content__comments-heading-name {
  font-weight: 500;
  font-style: normal;
  font-size: 0.9rem;
}
@media (min-width: 48rem) {
  .video-content__comments-heading-name {
    font-size: 1.1rem;
  }
}
.video-content__comments-heading-timestamp {
  color: #AFAFAF;
  font-size: 0.9rem;
}
@media (min-width: 48rem) {
  .video-content__comments-heading-timestamp {
    font-size: 1rem;
  }
}
@media (min-width: 80rem) {
  .video-content__comments-heading-timestamp {
    margin-right: 1rem;
  }
}
.video-content__comments-text {
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #323232;
  font-size: 0.9rem;
  margin-top: 0;
}
@media (min-width: 48rem) {
  .video-content__comments-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}/*# sourceMappingURL=VideoContent.css.map */