@import "../../styles/partials/mixins";
@import "../../styles/partials/typeography";
@import "../../styles/partials/variables";
@import "../../styles/partials/global";

.nextVideos {
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    line-height: 1.125rem;
    margin: 1.25rem 1rem;

    &__title {
        color: $silver;
        margin-bottom: 2.5rem;
        font-size: 1rem;

        @include desktop {
            font-size: 0.75rem;
            margin-bottom: 1.25rem;
        }
    }

    @include desktop {
        float: right;
        width: 25%;
        margin-left: 0;
        margin-right: 5rem;
    }
}

