@import "../../styles/partials/mixins";
@import "../../styles/partials/typeography";
@import "../../styles/partials/variables";
@import "../../styles/partials/global";

.video {
    display: flex;
    margin-bottom: 1.5rem;

    @include tablet {
        width: 45%;
    }

    @include desktop {
        width: 100%;
    }

    &__thumbnail {
        width: 7.5rem;
        height: 4.375rem;
        object-fit: cover;
        border-radius: 0.313rem;

        @include tablet {
            height: 5rem;
        }

        @include desktop {
            height: 4.375rem;
            width: 7.5rem;
        }
    }

    &__details {
        margin-left: 1rem;
        max-height: 4.375rem;

        &-title {
            margin: 0;
            font-weight: 500;
            font-style: normal;
            font-size: 0.9rem;
            text-decoration: none;
            color: $brainflix-black;
            @include tablet {
                font-size: 1rem;
                line-height: 1.3rem;;
            }
        }

        &-channel {
            font-weight: 400;
            font-style: normal;
            color: $brainflix-black;
            font-size: 0.9rem;
            margin-top: 5%;
            margin-bottom: 0;

            @include tablet {
                font-size: 1rem;
                margin-top: 10%;
                margin-bottom: 0;
            }

            @include desktop {
                font-size: 0.8rem;
                margin: 0;
            }
        }
    }
}
