@import "../../styles/partials/mixins";
@import "../../styles/partials/typeography";
@import "../../styles/partials/variables";
@import "../../styles/partials/global";

.upload {
    margin: 1.5rem 1rem;
    @include tablet {
        margin: 1.5rem 2.5rem;
    }

    &__divider-header {
        border: 0.031rem solid $mercury;
        margin: -1rem -1rem 2rem -1rem;
        @include tablet {
            margin: -1rem -3rem 2.8rem -3rem;
        }
    }

    &__heading {
        font-size: 1.8rem;
        font-weight: 500;
        color: $brainflix-black;
        margin-top: 0;
        @include tablet {
            font-size: 2.5rem;
            font-weight: 700;
        }
    }
        
    &__thumbnail {
        &-divider {
            visibility: hidden;
            @include tablet {
                visibility: visible;
                border: 0.031rem solid $mercury;
                margin-bottom: 2rem;
            }
        }
        &-image {
            display: flex;
            height: 9.563rem;
            width: 18rem;
            border-radius: 0.313rem;
            margin-bottom: 1.25rem;
            margin-top: 0.625rem;
            @include tablet {
                width: 26rem;
                height: auto;
            }
        }
        &-heading {
            font-weight: 500;
            font-style: normal;
            color: $silver;
            font-size: 0.9rem;
            margin-bottom: 0.2rem;
        }
    }  

    &__input {
       &-title-heading, &-description-heading {
        font-weight: 500;
        font-style: normal;
        color: $silver;
        font-size: 0.9rem;
        margin-bottom: 0.2rem;
    }

    &-description-text, &-title-text {
        font-weight: 400;
        font-style: normal;
        background-color: $alabaster;
        border: 0.009rem solid $mercury;
        border-radius: 0.313rem;
        width: 100%;
        line-height: 1rem;
        padding: 0.5rem 0.625rem;
        margin: 0 0 0.625rem 0;
        box-sizing: border-box;
        color: $brainflix-black;
        &::placeholder {
            color: $brainflix-black;
            font-family: "Avenir", Arial, Helvetica, sans-serif; 
        }
    }

    &-description-text {
        height: 5rem;
    }
    &-divider {
        visibility: hidden;
            @include tablet {
                visibility: visible;
                border: 0.031rem solid $mercury;
                margin-bottom: 2rem;
            }
    }
}

    &__buttons {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        @include tablet {
            flex-direction: row-reverse;
        }

    &-publish {
        font-weight: 500;
        font-style: normal;
        background: url(../../assets/icons/publish.svg) no-repeat 0.5rem 0.7rem;
        background-color: $brainflix-blue;
        border: none;
        border-radius: 0.313rem;
        color: $white;
        height: 3rem;
        cursor: pointer;
        font-size: 0.9rem;
        width: 100%;
        margin: 0;
        font-family: "Avenir", Arial, Helvetica, sans-serif; 
        margin-bottom: 2rem;
        &:hover {
            background-color: $brainflix-darkblue;
        }
        @include tablet {
            margin-top: 0;
            padding-top: 0.4rem;
            margin-left: 6rem;;
            width: 11rem;  
            margin-bottom: 0;             
        }
    }

    &-cancel {
        font-weight: 500;
        font-style: normal;
        background-color: $white;
        border: none;
        color: $brainflix-blue;
        cursor: pointer;
        transition: 1s;
        font-size: 0.9rem;
        font-family: "Avenir", Arial, Helvetica, sans-serif; 
        &:hover {
        background-color: $mercury;
        color: $brainflix-darkblue;
    }

        @include tablet {
            padding-top: 0.25rem;
        }
        
    }
}
}