@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.App {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}

.upload {
  margin: 1.5rem 1rem;
}
@media (min-width: 48rem) {
  .upload {
    margin: 1.5rem 2.5rem;
  }
}
.upload__divider-header {
  border: 0.031rem solid #E1E1E1;
  margin: -1rem -1rem 2rem -1rem;
}
@media (min-width: 48rem) {
  .upload__divider-header {
    margin: -1rem -3rem 2.8rem -3rem;
  }
}
.upload__heading {
  font-size: 1.8rem;
  font-weight: 500;
  color: #323232;
  margin-top: 0;
}
@media (min-width: 48rem) {
  .upload__heading {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
.upload__thumbnail-divider {
  visibility: hidden;
}
@media (min-width: 48rem) {
  .upload__thumbnail-divider {
    visibility: visible;
    border: 0.031rem solid #E1E1E1;
    margin-bottom: 2rem;
  }
}
.upload__thumbnail-image {
  display: flex;
  height: 9.563rem;
  width: 18rem;
  border-radius: 0.313rem;
  margin-bottom: 1.25rem;
  margin-top: 0.625rem;
}
@media (min-width: 48rem) {
  .upload__thumbnail-image {
    width: 26rem;
    height: auto;
  }
}
.upload__thumbnail-heading {
  font-weight: 500;
  font-style: normal;
  color: #AFAFAF;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.upload__input-title-heading, .upload__input-description-heading {
  font-weight: 500;
  font-style: normal;
  color: #AFAFAF;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.upload__input-description-text, .upload__input-title-text {
  font-weight: 400;
  font-style: normal;
  background-color: #FAFAFA;
  border: 0.009rem solid #E1E1E1;
  border-radius: 0.313rem;
  width: 100%;
  line-height: 1rem;
  padding: 0.5rem 0.625rem;
  margin: 0 0 0.625rem 0;
  box-sizing: border-box;
  color: #323232;
}
.upload__input-description-text::-moz-placeholder, .upload__input-title-text::-moz-placeholder {
  color: #323232;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}
.upload__input-description-text::placeholder, .upload__input-title-text::placeholder {
  color: #323232;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}
.upload__input-description-text {
  height: 5rem;
}
.upload__input-divider {
  visibility: hidden;
}
@media (min-width: 48rem) {
  .upload__input-divider {
    visibility: visible;
    border: 0.031rem solid #E1E1E1;
    margin-bottom: 2rem;
  }
}
.upload__buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (min-width: 48rem) {
  .upload__buttons {
    flex-direction: row-reverse;
  }
}
.upload__buttons-publish {
  font-weight: 500;
  font-style: normal;
  background: url(../../assets/icons/publish.svg) no-repeat 0.5rem 0.7rem;
  background-color: #0095FF;
  border: none;
  border-radius: 0.313rem;
  color: #FFFFFF;
  height: 3rem;
  cursor: pointer;
  font-size: 0.9rem;
  width: 100%;
  margin: 0;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}
.upload__buttons-publish:hover {
  background-color: #0065AD;
}
@media (min-width: 48rem) {
  .upload__buttons-publish {
    margin-top: 0;
    padding-top: 0.4rem;
    margin-left: 6rem;
    width: 11rem;
    margin-bottom: 0;
  }
}
.upload__buttons-cancel {
  font-weight: 500;
  font-style: normal;
  background-color: #FFFFFF;
  border: none;
  color: #0095FF;
  cursor: pointer;
  transition: 1s;
  font-size: 0.9rem;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}
.upload__buttons-cancel:hover {
  background-color: #E1E1E1;
  color: #0065AD;
}
@media (min-width: 48rem) {
  .upload__buttons-cancel {
    padding-top: 0.25rem;
  }
}/*# sourceMappingURL=UploadVideo.css.map */